

body {
		background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
text-align: center;
}
::-webkit-scrollbar {
  display: none;
}
html,body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}


/* Typography */
h1,h2,h3, .btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

h1 {
  font-weight: bold;
  font-size: 100px;
}

h2 {
  color: #333;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 8px;
}
#contact h2 {
  color: #ffffff;
}

h3 {
  color: #444;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
#menu h3 {
   color: #555;
}

h4 {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
}
.ponuda{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
.ponuda div{
  width: 45%;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.ponuda > h3{
  margin-top: 15px;
}
.ponuda > img{
  width: 100%;
}
p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 28px;
}

a {
  text-decoration: none !important;
}
a:visited,
a:focus {
  outline: none;
  text-decoration: none !important;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

/* hover min css */
.hvr-bounce-to-bottom:before,
.hvr-bounce-to-top:before {
  background-color: #ffffff;
}


/* All Section styles */
#about,
#feature,
#video,
#menu,
#team,
#gallery,
#contact {
  color: #656565;
  padding-top: 100px;
  padding-bottom: 100px;
}

#feature,
#video,
#team,
#gallery,
#contact {
  text-align: center;
}


#team {
  background: rgb(240, 240, 240);
}


/* section title */
.section-title {
  padding-bottom: 70px;
}
#about .section-title,
#menu .section-title {
  text-align: center;
}
#contact .section-title {
  color: #f0f0f0;
}



/* Preloader section  */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #222;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }


/* Home section */
#home {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
        align-items: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#home .gradient-overlay {
  background: #c21500; /* fallback for old browsers */  
  background: -webkit-linear-gradient(to left, #c21500 , #ffc500); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #c21500 , #ffc500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.8;      
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}

#home .btn {
  background: transparent;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 13px 30px;
  margin-top: 34px;
  text-transform: uppercase;
}
#home .btn:hover,
#home .btn:focus {
  color: #c21500;
}


/* Navigation section */
.navbar-default {
    background: #ffffff;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
    margin: 0 !important;
}

.navbar-default .navbar-brand {
  color: #ec5201;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 40px;
  margin: 0;
}

.navbar-default .navbar-nav li a {
    color: #757575;
    font-size: 19px;
    font-weight: 300;
    line-height: 50px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav > li a:hover {
  color: #ec5201 !important;
  border-bottom: #ec5201 solid 1px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #606060;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #c21500;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}

/* Feature section */
.sekcija:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#feature{
  background-color: rgba(255, 145, 0, 0.11);
}
#feature .feature-thumb {
  background-color: #ffffff;
  position: relative;
  padding: 40px;
  margin-top: 32px;
}
#feature .feature-icon {
  background-color: #fca412;
  width: 85px;
  height: 85px;
  margin: 0 auto;
  top: 0;
  margin-top: -70px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: table;
  text-align: center;
  transition: all 0.4s ease-in-out;
}
#feature .feature-icon:hover {
  background-color: #c21500;
}
#feature .feature-icon span {
  display: table-cell;
  vertical-align: middle;
}
#feature .feature-icon .fa {
  color: #ffffff;
  font-size: 36px;
  margin: 0;
  padding: 0;
}

#feature h3 {
  padding-top: 14px;
  padding-bottom: 10px;
}



/* About section  */
#about .col-md-4 ul {
  padding-top: 4px;
  padding-left: 28px;
}

#about .col-md-4 ul li {
  color: #777;
  font-size: 18px;
  font-weight: 400;
  padding-top: 2px;
  padding-bottom: 2px;
}



/* Video section  */
#video {
  background: url('../images/1585723.jpg') 50% 0 no-repeat ;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  color: #999;
}

#video .overlay {
  background: rgba(255, 140, 0, 0.79);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#video h2 {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 16px;
}

#video .fa {
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #ffffff;
  font-size: 28px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  margin-top: 22px;
}
#video p{
    color: white;
}


/* Menu section */
#menu h3{
  color: #c21500;
}
#menu .media {
  padding-bottom: 20px;
}

#menu .media-object img {
  width: 100%;
  padding-right: 12px;
  position: relative;
  margin: 10px;
}

#menu .media-object span.menu-price {
  position: absolute;
  background-color: #ffffff;
  color: #222;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 20px;
  top: 50%;
  left: 3%;
}



/*filter css*/
.filter-wrapper {
    width: 100%;
    margin-bottom: 42px;
    overflow: hidden;
}

.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}

.filter-wrapper li a {
    color: #666;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 8px 17px;
    margin-right: 2px;
    margin-left: 2px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
  color: #C21500;
}

/* shop menu items */
.lista{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.proizvod{
  display: flex;
  width: 30%;
  padding: 0;
  margin: 20px auto;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgba(230, 230, 230, 0.61);

}
.marka{
  border-bottom: 2px solid #c21500;
}
.proizvod img{
  width: 100%;
}
.opisproizvoda{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 25px;
  align-items: center;
  justify-content: space-between;
}
#first{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
#second form input{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}


/*isotope box css*/
.iso-box-section {
    width: 100%;
}

.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}

.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 30px;
}

.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 

.fluid-img {
    width: 100%;
    display: block;
}
#message{
  -webkit-animation: cssAnimation 5s forwards;
  animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
/* Contact section  */
#contact {
  background: url('../images/honey-bee.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}

#contact .overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #666;
  border-radius: 0px;
  box-shadow: none;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #ddd;
}

#contact input {height: 45px;}

#contact input[type='submit'] {
  background: #ffffff;
  border-radius: 4px;
  color: #c21500;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  transition: all 0.4s ease-in-out;
}
#contact input[type='submit']:hover {
  background-color: #c21500;
  border-color: transparent;
  color: #ffffff;
}

.forma form{
  display: flex;
  margin: 30px auto;
  flex-direction: column;
  align-items: flex-start;
}
.forma form input{
  margin-top: 30px;
}
/* Footer section  */
footer {
  background-color: #141414;
  color: #757575;
  padding-top: 100px;
  padding-bottom: 100px;
}

footer h3 {
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 14px;
}

footer strong {
  color: #f0f0f0;
  font-size: 20px;
  display: block;
  padding-top: 6px;
  padding-bottom: 2px;
}


/* Mobile Responsive */
@media (max-width: 980px) {

  #home {
    height: 65vh;
  }

  #feature .col-md-4:last-child,
  #about .col-md-4 {
    margin-top: 42px;
  }

  #team .team-thumb {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #team .join-team {
    padding: 71px 50px;
    margin-top: 20px;
  }
.proizvod{
  width: 45%;
}
}


@media (max-width: 900px) {

  h1 {font-size: 70px;}

}


@media (max-width: 768px) {

  .navbar-default .navbar-brand {
    line-height: 46px;
  }
  #sakriveno{
    display: none;
  }
  .ponuda > div {
    width: 100%;
    margin: 20px;
  }
}

@media (max-width: 767px) {

  .navbar-default .navbar-brand {
    line-height: 15px;
  }
  .navbar-default .navbar-nav li a {
    line-height: 30px;
  }

  #feature .col-md-4,
  #about .col-md-5,
  footer .col-md-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .filter-wrapper {
    padding: 0px;
  }

}

@media (max-width: 650px) {


  #home {
    height: 100vh;
  }
  .proizvod{
    width: 90%;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
  }

  #feature {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  #about,
  #feature,
  #video,
  #menu,
  #team,
  #gallery,
  #contact {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  #menu .media-object img {
    width: 100%;
    padding-bottom: 14px;
  }
  #menu .media-object span.menu-price {
    top: 30%;
    left: 6%;
  }

  footer {text-align: center;}

}